# Instantiate Database

In [9]:
# CREATE TABLE Article(keywordstring TEXT, alink TEXT, anewspaper TEXT, adate TEXT, aday TEXT, agenre TEXT, atitle TEXT, aextra TEXT, acontent TEXT, aid TEXT PRIMARY KEY, aauthor TEXT, aemail TEXT, aprose TEXT, parsedyear INTEGER, parsedmonth INTEGER, parsedday INTEGER)

# CREATE TABLE ArticleFactorLink(articleCommunity INTEGER, factoryType TEXT, articleIndex INT, aid TEXT REFERENCES Article(aid), fid INTEGER REFERENCES Factor(fid), score REAL)

# CREATE TABLE Factor(factorVersion TEXT, factorCommunity INTEGER, factorType TEXT, fid INTEGER PRIMARY KEY, factorLoading TEXT, factorKeywordsKorean TEXT, factorKeywordsEnglish TEXT, factorLabelKorean TEXT, factorLabelEnglish TEXT)

In [10]:
import pandas as pd
import sqlite3 as sql

In [11]:
# db = sql.connect("../data/0 sqlite3/nkhr_articles.db")
db = sql.connect("C:/Users/seoul/Dropbox/02 research/projects/_archive projects/2018.03 chapter_NKHR discourse/_afs_research/nkhr_discourse/nkhr_articles.db")

In [12]:
cursor = db.cursor()

In [13]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Article',), ('Factor',), ('ArticleFactorLink',)]

# Query Factor & ArticleFactorLink Tables. Save as dataframes

In [14]:
factor_columns = ["factorVersion","factorCommunity", "factorType", "fid", "factorLoading", "factorKeywordsKorean", "factorKeywordsEnglish", "factorLabelKorean", "factorLabelEnglish"]
cursor.execute("select * from factor;")
factor = pd.DataFrame(cursor.fetchall(),columns=factor_columns)

In [15]:
factor.loc[factor.factorLabelEnglish.notnull(),"factorLabelEnglish"]

18      detention of defectors in China: Kim Yeong-hwa...
35                              N & S strategic posturing
244     real change, improvement, advancement, interna...
264                               voting in the UN and EU
271     ICC, COI: criminal, report, violation, extradi...
295     bill, right to life: Saenuri, NDAP, Shim Jae-kwon
300     food aid, aggreements: monitoring, transparenc...
308              legislative conflict over passing a bill
383     Korea-America alliance: FTA, ratification, mut...
416                           politics of N/S unification
572             domestic electoral & legislative politics
746     economic sanctions for nuclear experiements, U...
794     one-shot law, human rights act (SK), National ...
879                legacy of the democratization movement
880     some event involving an assembly member in Gye...
924     NK security: violations, denuclearization, bal...
1024              increase in defectors in Korean society
1093           ICC, UN: criminal courts, adopt resolution
1098    Perry process: Yongbyon, IAEA, light-water rea...
1130                     NK nuclear issue & 6 party talks
1218         Park's strong response to NK security crisis
1328    6-Party Talks: negotiation: Kelly, Hill, Bush,...
1417                        bilateral US-ROK relationship
Name: factorLabelEnglish, dtype: object

In [16]:
article_factor_link_columns = ["articleCommunity", "factorType", "articleIndex", "aid", "fid", "score"]
cursor.execute("select * from articlefactorlink;")
articlefactorlink = pd.DataFrame(cursor.fetchall(),columns=article_factor_link_columns)

In [17]:
afl = articlefactorlink[["aid","fid","score"]]

In [18]:
afl[0:5]

                          aid  fid     score
0  01101101.20040728000000301   35  0.015673
1  01101101.20040728000000301   53  0.019065
2  01101101.20040728000000301  130  0.025850
3  01101101.20040728000000301  256  0.010728
4  01101101.20040728000000301  580  0.044351

# Query Article by year. Save as dictionary of dataframes

In [19]:
YearsToQuery = [1994,2002,2003,2004,2005,2014,2015,2016]

In [20]:
dbdic = {}

In [21]:
article_columns = ["aid","parsedyear","adate","anewspaper","atitle", "acontent"]

In [22]:
for year in YearsToQuery:
    cursor.execute("select aid, parsedyear, adate, anewspaper, atitle, acontent from article where parsedyear="+str(year))
    dbdic[str(year)] = pd.DataFrame(cursor.fetchall(),columns=article_columns)

In [23]:
dbdic["2005"]

,aid,parsedyear,adate,anewspaper,atitle,acontent
0,02100601.20160120073324135,2005,2005.12.30,한국경제,[2006 신년기획] 북핵 6자회담 진전 &apos;관심&apos;,올해북핵6자회담은대북금융제재를둘러싼북·미간대치가심화되면서진전없는소모전..북한은미국의...
1,01100101.20051230100017977,2005,2005.12.30,경향신문,#남북정상회담 조건없이 응하겠다# 李총리 밝혀...새해엔 연금개혁 역점,#북한의인권은누구나보호받고존중돼야하는데정부입장에서는북한주민들의인권보다더절박한것이생존...
2,01101001.20051230100011743,2005,2005.12.30,한겨레,[유레카]인권 제국주의,여세를몰아북한인권법제정등대북한인권공세를펼쳤다.그러나인권위는인류가발전시켜온인권개념의공...
3,01100301.20051230100000055,2005,2005.12.30,내일신문,북핵해법 가닥잡아야 남북정상 만날 듯,한반도평화체제수립과정에서가장큰걸림돌이되고있는북핵문제해결을위해관련국들은6자회담통해‘9...
4,01100201.20051230100000353,2005,2005.12.30,국민일보,2006 한반도 기상도 / 北의 위폐제조 의혹 '돌발 기류',북한은실제로2005년11월5차1단계6자회담에서미국의금융제재를문제삼았다...북한은.....
...,...,...,...,...,...,...
1664,01101001.2005010210000900785,2005,2005.01.02,한겨레,보수로 가는 미국사회 (1) 보수의 새 거점-기독교 복음주의,"1.보수의새거점-기독교복음주의2.3개축-헤리티지재단,러시림보,폭스뉴..지난해10월대..."
1665,01101001.20050102100900785,2005,2005.01.02,한겨레,보수로 가는 미국사회 (1) 보수의 새 거점-기독교 복음주의,"1.보수의새거점-기독교복음주의2.3개축-헤리티지재단,러시림보,폭스뉴..지난해10월대..."
1666,01101101.20050101100006273,2005,2005.01.01,한국일보,2005 신년특집/ 올 한반도 정세 전망,라이스장관취임이후북한의6자회담복귀는초읽기에들어갈것이확실해보인다...북한이미국의양보를...
1667,02100101.20160118143524337,2005,2005.01.01,매일경제,#미국도 북한도 우리가 설득해야 한다#,북한과미국의네오콘이전쟁을한다고해도우리의동의가필요하다.남북한군축등가시적인긴장완화방안에...
1668,01100201.20050101100000536,2005,2005.01.01,국민일보,2005 남북관계 7대 키워드 / 한반도 ‘뜻깊은 해’…정상회담 열릴까,‘북한인권법’이1일부터시행돼새해에는대규모기획탈북과같은부작용이우려된다.북한은주민들의탈...

In [24]:
db.close()

# Define function to extract component articles - for dyads, triads & cliques

In [87]:
def extract_articles(year,factor_list):
    
    # instantiate component dataframe from article db by year
    cdf = dbdic[str(year)]
    
    # number of factors
    n_factor = len(factor_list)
    
    # dict of dataframes. article_factor_link tables for each factor
    afl_dict = {str(factor):afl[afl.fid==factor].sort_values("score",ascending=False) for factor in factor_list}
    
    # add a variable, score_rank, to each factor afl dataframe
    print("add a variable, score_rank")
    
    
    for factor in factor_list:
        cdf = cdf.merge(afl_dict[str(factor)],how="inner",on="aid")
        
    # sort articles by sum of score_ranks
    print("sort articles by sum of score_rank")
    
    print(cdf.shape)
        
    return cdf

In [92]:
def row_to_html(row):
    
    # convert each article row of a cdf to a "user-friendly" html format
    print("converting an article row to html")
    
    row_html = row
    
    return row_html

In [97]:
def df_to_html(cdf,year,factor_list):
    
    # convert the cdf articles to a "user-friendly" html file
    print("convert the cdf articles to a user-friendly html file")
    
    factor_list_str = [str(factor) for factor in factor_list]
    
    fname = str(year)+"_"+"_".join(factor_list_str)+".html"
    fpath = ""
    
    f = open(fpath+fname,'w',encoding="utf-8")
    
    print("get rows, not columns")
    for row in cdf:
        f.write(row_to_html(row))

# 1994 components

### 1994 Bi-partisan dyad
-  416	politics of N/S unification
-  1024	increase in defectors in Korean society

In [98]:
cdf = extract_articles(1994,[416,1024])
df_to_html(cdf,1994,[416,1024])

add a variable, score_rank
sort articles by sum of score_rank
(122, 10)
export cdf articles as an html file
convert the cdf articles to a user-friendly html file
get rows, not columns
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html

### 1994 Progressive linkages to dyad (416,1024,[35,1130,1098]) - analyze as a clique
-  #1 35	N & S strategic posturing
-  #2 1130	NK nuclear issue & 6 party talks
-  #3 1098	Perry process: Yongbyon, IAEA, LWR

In [99]:
# analyze all three linkages as a clique
cdf = extract_articles(1994,[416,1024,35,1130,1098])
df_to_html(cdf,1994,[416,1024,35,1130,1098])

add a variable, score_rank
sort articles by sum of score_rank
(10, 16)
export cdf articles as an html file
convert the cdf articles to a user-friendly html file
get rows, not columns
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html

# 2002 - 2005 components

### 2002	Bi-partisan dyad
-  416	politics of N/S unification
-  1024 increase in defectors in Korean society

In [100]:
cdf = extract_articles(2002,[416,1024])
df_to_html(cdf,2002,[416,1024])

add a variable, score_rank
sort articles by sum of score_rank
(82, 10)
export cdf articles as an html file
convert the cdf articles to a user-friendly html file
get rows, not columns
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html
converting an article row to html

### 2003	Conservative triad	
-  416	politics of N/S unification
-  1024	increase in defectors in Korean society
-  879	legacy of the democratization movement

In [50]:
cdf = extract_articles(2003,[416,1024,879])
df_to_html(cdf,2003,[416,1024,879])

(47, 12)

,aid,parsedyear,adate,anewspaper,atitle,acontent,fid_x,score_x,fid_y,score_y,fid,score
0,01100201.20031209000002302,2003,2003.12.09,국민일보,[한마당] 김현덕 / 무기를 버려라,①“무기를버려라...북한측은게다가북한의인권마약테러문제를언급해협상하러온북한을자극했다....,416,0.018114,1024,0.138815,879,0.067921
1,[ID]0311223402,2003,2003.11.22,조선일보,[김대중칼럼] 워싱턴에서 북한 人權과 민족공조,나왔다미국의북한인권(人權)위원회가‘숨겨진굴라그(gulag)’라는타이틀로내놓은120쪽...,416,0.042608,1024,0.187760,879,0.010172

### 2004	Conservative clique	416	politics of N/S unification
-  1024	increase in defectors in Korean society
-  1130	NK nuclear issue and 6 party talks
-  35	N & S strategic posturing

In [91]:
cdf = extract_articles(2004,[1024,1130,35])
df_to_html(cdf,2004,[1024,1130,35])

add a variable, score_rank
sort articles by sum of score_rank
(63, 12)
export cdf articles as an html file
convert the cdf articles to a user-friendly html file

NameError: name 'row_to_html' is not defined

### 2004	Conservative linkages to the clique - treat as clique
-  #1 879	legacy of the democratization movement
-  #2 218	strong response to NK security crisis

In [ ]:
cdf = extract_articles(2004,[1024,1130,35])
df_to_html(cdf,2004,[1024,1130,35])

### 2005	Bi-partisan clique
-  416	politics of N/S unification
-  1024	increase in defectors in Korean society
-  1130	NK nuclear issue & 6 party talks
-  35	N & S strategic posturing
-  1098	Perry process: Yongbyon, IAEA, LWR
-  1328	6-Party Talks: negotiation: Kelly, Hill, Bush, State Dep

### 2005	Conservative linkages to the clique
-  #1 879	legacy of the democratization movement
-  #2 244	real change, improvement, advancement, international community
-  #3 264	voting in the UN and EU
-  #4 1218	strong response to NK security crisis

### 2005	Progressive linkages to the clique
-  #1 1417	bilateral US-ROK relationship
-  #2 746	economic sanctions for nuclear experiments, UN Security Council

# 2014 - 2016 components

### 2014	Progressive clique	416	politics of N/S unification
-  1024	increase in defectors in Korean society
-  35	N & S strategic posturing
-  271	ICC, COI: criminal, report, violation, extradition
-  1093	ICC, UN: criminal courts, adopt resolution
-  1130	NK nuclear issue & 6 party talks
-  746	economic sanctions for nuclear experiments, UN Security Council

### 2014	Progressive dyad #1 linked to clique
-  1417	bilateral US-ROK relationship
-  383	Korea-America alliance: FTA, ratification, mutual assistance

### 2014	Progressive dyad #2 linked to clique
-  308	legislative conflict over passing a bill
-  295	bill, right to life: Saenuri, NDAP, Shim Jae-kwon

### 2014	Conservative triad linked to clique
-  1024	increase in defectors in Korean society
-  271	ICC, COI: criminal, report, violation, extradition
-  1093	ICC, UN: criminal courts, adopt resolution

### 2015	Bi-partisan triad
-  416	politics of N/S unification
-  1024	increase in defectors in Korean society
-  1218	Park's strong response to NK security crisis

### 2015	Bi-partisan dyad
-  416	politics of N/S unification
-  308	legislative conflict over passing a bill

### 2015	Conservative clique
-  416	politics of N/S unification
-  308	legislative conflict over passing a bill
-  572	domestic electoral & legislative politics
-  794	one-shot law, human rights act (SK), National Assembly procedure

### 2015	Conservative link to clique
-  295	bill, right to life: Saenuri, NDAP, Shim Jae-kwon

### 2015	Progressive clique
-  416	politics of N/S unification
-  1130	NK nuclear issue & 6 party talks
-  746	economic sanctions for nuclear experiments, UN Security Council
-  924	NK security: violations, denuclearization, ballistic missile launches, provocation

### 2015	Progressive linkages (each separately linked to progressive clique)
-  1417	bilateral US-ROK relationship
-  35	N & S strategic posturing
-  383	Korea-America alliance: FTA, ratification, mutual assistance
-  244	real change, improvement, advancement, international community

### 2016	Bi-partisan triad
-  35	N & S strategic posturing
-  1218	strong response to NK security crisis
-  794	one-shot law, human rights act (SK), National Assembly procedure

### 2016	Conservative clique
-  572	domestic electoral & legislative politics
-  416	politics of N/S unification
-  794	one-shot law, human rights act (SK), National Assembly procedure
-  308	legislative conflict over passing a bill
-  1024	increase in defectors in Korean society
-  35	N & S strategic posturing

### 2016	Progressive triad #1
-  416	politics of N/S unification
-  1218	strong response to NK security crisis
-  746	economic sanctions for nuclear experiments, UN Security Council

### 2016	Progressive triad #2
-  416	politics of N/S unification
-  746	economic sanctions for nuclear experiments, UN Security Council
-  924	NK security: violations, denuclearization, ballistic missile launches, provocation

# Export Tables to Excel

In [9]:
# factor = pd.read_sql_query("SELECT * from Factor", db)

In [ ]:
# articlefactorlink = pd.read_sql_query("SELECT * from ArticleFactorLink", db)

In [28]:
# article = pd.read_sql_query("SELECT alink, anewspaper, adate, aday, agenre, atitle, aextra, acontent, aid, aauthor, aemail, aprose, parsedyear, parsedmonth, parsedday from Article", db)

In [ ]:
# alink, anewspaper, adate, aday, agenre, atitle, aextra, acontent, aid, aauthor, aemail, aprose, parsedyear, parsedmonth, parsedday

In [ ]:
# shorter

# article = pd.read_sql_query("SELECT parsedyear from Article", db)

In [15]:
# factor.to_excel("../data/1 pandas excel/factor.xlsx",index=False,encoding="utf-8")

In [ ]:
# articlefactorlink.to_excel("../data/1 pandas excel/articlefactorlink.xlsx",index=False,encoding="utf-8")

In [17]:
# article.to_excel("../data/1 pandas excel/article.xlsx",index=False,encoding="utf-8")