# Instantiate Database

In [1]:
# CREATE TABLE Article(keywordstring TEXT, alink TEXT, anewspaper TEXT, adate TEXT, aday TEXT, agenre TEXT, atitle TEXT, aextra TEXT, acontent TEXT, aid TEXT PRIMARY KEY, aauthor TEXT, aemail TEXT, aprose TEXT, parsedyear INTEGER, parsedmonth INTEGER, parsedday INTEGER)

# CREATE TABLE ArticleFactorLink(articleCommunity INTEGER, factoryType TEXT, articleIndex INT, aid TEXT REFERENCES Article(aid), fid INTEGER REFERENCES Factor(fid), score REAL)

# CREATE TABLE Factor(factorVersion TEXT, factorCommunity INTEGER, factorType TEXT, fid INTEGER PRIMARY KEY, factorLoading TEXT, factorKeywordsKorean TEXT, factorKeywordsEnglish TEXT, factorLabelKorean TEXT, factorLabelEnglish TEXT)

In [2]:
import pandas as pd
import sqlite3 as sql

In [76]:
# db = sql.connect("../data/0 sqlite3/nkhr_articles.db")
db = sql.connect("C:/Users/seoul/Dropbox/02 research/projects/_archive projects/2018.03 chapter_NKHR discourse/_afs_research/nkhr_discourse/nkhr_articles.db")

In [77]:
cursor = db.cursor()

In [78]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Article',), ('Factor',), ('ArticleFactorLink',)]

# Query Factor & ArticleFactorLink Tables. Save as dataframes

In [88]:
factor_columns = ["factorVersion","factorCommunity", "factorType", "fid", "factorLoading", "factorKeywordsKorean", "factorKeywordsEnglish", "factorLabelKorean", "factorLabelEnglish"]
cursor.execute("select * from factor;")
factor = pd.DataFrame(cursor.fetchall(),columns=factor_columns)

In [95]:
factor.loc[factor.factorLabelEnglish.notnull(),"factorLabelEnglish"]

18      detention of defectors in China: Kim Yeong-hwa...
35                              N & S strategic posturing
244     real change, improvement, advancement, interna...
264                               voting in the UN and EU
271     ICC, COI: criminal, report, violation, extradi...
295     bill, right to life: Saenuri, NDAP, Shim Jae-kwon
300     food aid, aggreements: monitoring, transparenc...
308              legislative conflict over passing a bill
383     Korea-America alliance: FTA, ratification, mut...
416                           politics of N/S unification
572             domestic electoral & legislative politics
746     economic sanctions for nuclear experiements, U...
794     one-shot law, human rights act (SK), National ...
879                legacy of the democratization movement
880     some event involving an assembly member in Gye...
924     NK security: violations, denuclearization, bal...
1024              increase in defectors in Korean society
1093           ICC, UN: criminal courts, adopt resolution
1098    Perry process: Yongbyon, IAEA, light-water rea...
1130                     NK nuclear issue & 6 party talks
1218         Park's strong response to NK security crisis
1328    6-Party Talks: negotiation: Kelly, Hill, Bush,...
1417                        bilateral US-ROK relationship
Name: factorLabelEnglish, dtype: object

In [92]:
article_factor_link_columns = ["articleCommunity", "factorType", "articleIndex", "aid", "fid", "score"]
cursor.execute("select * from articlefactorlink;")
articlefactorlink = pd.DataFrame(cursor.fetchall(),columns=article_factor_link_columns)

In [118]:
afl = articlefactorlink[["aid","fid","score"]]

In [119]:
afl[0:5]

                          aid  fid     score
0  01101101.20040728000000301   35  0.015673
1  01101101.20040728000000301   53  0.019065
2  01101101.20040728000000301  130  0.025850
3  01101101.20040728000000301  256  0.010728
4  01101101.20040728000000301  580  0.044351

# Query Article by year. Save as dictionary of dataframes

In [96]:
YearsToQuery = [1994,2002,2003,2004,2005,2014,2015,2016]

In [97]:
dbdic = {}

In [98]:
article_columns = ["aid","parsedyear","adate","anewspaper","atitle", "acontent"]

In [99]:
for year in YearsToQuery:
    cursor.execute("select aid, parsedyear, adate, anewspaper, atitle, acontent from article where parsedyear="+str(year))
    dbdic[str(year)] = pd.DataFrame(cursor.fetchall(),columns=article_columns)

In [100]:
dbdic["2005"]

,aid,parsedyear,adate,anewspaper,atitle,acontent
0,02100601.20160120073324135,2005,2005.12.30,한국경제,[2006 신년기획] 북핵 6자회담 진전 &apos;관심&apos;,올해북핵6자회담은대북금융제재를둘러싼북·미간대치가심화되면서진전없는소모전..북한은미국의...
1,01100101.20051230100017977,2005,2005.12.30,경향신문,#남북정상회담 조건없이 응하겠다# 李총리 밝혀...새해엔 연금개혁 역점,#북한의인권은누구나보호받고존중돼야하는데정부입장에서는북한주민들의인권보다더절박한것이생존...
2,01101001.20051230100011743,2005,2005.12.30,한겨레,[유레카]인권 제국주의,여세를몰아북한인권법제정등대북한인권공세를펼쳤다.그러나인권위는인류가발전시켜온인권개념의공...
3,01100301.20051230100000055,2005,2005.12.30,내일신문,북핵해법 가닥잡아야 남북정상 만날 듯,한반도평화체제수립과정에서가장큰걸림돌이되고있는북핵문제해결을위해관련국들은6자회담통해‘9...
4,01100201.20051230100000353,2005,2005.12.30,국민일보,2006 한반도 기상도 / 北의 위폐제조 의혹 '돌발 기류',북한은실제로2005년11월5차1단계6자회담에서미국의금융제재를문제삼았다...북한은.....
...,...,...,...,...,...,...
1664,01101001.2005010210000900785,2005,2005.01.02,한겨레,보수로 가는 미국사회 (1) 보수의 새 거점-기독교 복음주의,"1.보수의새거점-기독교복음주의2.3개축-헤리티지재단,러시림보,폭스뉴..지난해10월대..."
1665,01101001.20050102100900785,2005,2005.01.02,한겨레,보수로 가는 미국사회 (1) 보수의 새 거점-기독교 복음주의,"1.보수의새거점-기독교복음주의2.3개축-헤리티지재단,러시림보,폭스뉴..지난해10월대..."
1666,01101101.20050101100006273,2005,2005.01.01,한국일보,2005 신년특집/ 올 한반도 정세 전망,라이스장관취임이후북한의6자회담복귀는초읽기에들어갈것이확실해보인다...북한이미국의양보를...
1667,02100101.20160118143524337,2005,2005.01.01,매일경제,#미국도 북한도 우리가 설득해야 한다#,북한과미국의네오콘이전쟁을한다고해도우리의동의가필요하다.남북한군축등가시적인긴장완화방안에...
1668,01100201.20050101100000536,2005,2005.01.01,국민일보,2005 남북관계 7대 키워드 / 한반도 ‘뜻깊은 해’…정상회담 열릴까,‘북한인권법’이1일부터시행돼새해에는대규모기획탈북과같은부작용이우려된다.북한은주민들의탈...

In [101]:
db.close()

# 1994 components

### c1 - 1994 Bi-partisan dyad

In [ ]:
# c1 - 1994 Bi-partisan dyad
# 	416	politics of N/S unification
# 	1024	increase in defectors in Korean society

In [126]:
afl_c1_416 = afl[afl.fid==416]
afl_c1_1024 = afl[afl.fid==1024]
c1 = dbdic["1994"].merge(afl_c1_416,how="inner",on="aid").merge(afl_c1_1024,how="inner",on="aid")
c1.shape

(122, 10)

In [133]:
c1[0:2]

,aid,parsedyear,adate,anewspaper,atitle,acontent,fid_x,score_x,fid_y,score_y
0,01100701.19941213000000503,1994,1994.12.13,세계일보,한국전의 교훈 잊을수없다/이철승 자유­민족회의대표공동의장(시론),"내용인즉미CIA가당시트루먼대통령의특사로북한을여행했던폴리라는사람의견해를수용,「남한에서...",416,0.191287,1024,0.095837
1,01100611.20160422180937594,1994,1994.12.11,서울신문,“북 인권탄압 방치못한다”/「북인권개선본부」 출범 의미,북한의인권문제를개선하기위한범국민적민간단체인북한인권개선운동본부가오는15일창립총회를가질...,416,0.277945,1024,0.082230

### c2: 1994 Progressive linkages to dyad (416,1024,[35,1130,1098])

In [ ]:
# c2: 1994 Progressive linkages to dyad (416,1024,[35,1130,1098])
# 	35	N & S strategic posturing
# 	1130	NK nuclear issue & 6 party talks
# 	1098	Perry process: Yongbyon, IAEA, LWR

In [127]:
afl_c2_35 = afl[afl.fid==35]
c2_35 = c1.merge(afl_c2_35,how="inner",on="aid")
c2_35.shape

(52, 12)

In [135]:
c2_35[0:2]

,aid,parsedyear,adate,anewspaper,atitle,acontent,fid_x,score_x,fid_y,score_y,fid,score
0,01101101.19941128000000902,1994,1994.11.28,한국일보,남북경협의 조건들/정일화 편집위원(남과북),..북한이 왜 한국과 경협을 안하려 들것인가. 한국이 북한인권 향상에 관심이 많으면...,416,0.121325,1024,0.168915,35,0.108730
1,01100611.20160422171101066,1994,1994.11.05,서울신문,김일성사후의 북한 해외동포학자 국제학술회의 주제발표 요지,"..북한의인권침해상황을개선키위해서는유엔에의한인권감시활동의강화,규약인권위원회나국제사법...",416,0.223080,1024,0.101180,35,0.045993

In [128]:
afl_c2_1130 = afl[afl.fid==1130]
c2_1130 = c1.merge(afl_c2_1130,how="inner",on="aid")
c2_1130.shape

(27, 12)

In [129]:
afl_c2_1098 = afl[afl.fid==1098]
c2_1098 = c1.merge(afl_c2_1098,how="inner",on="aid")
c2_1098.shape

(50, 12)

In [ ]:
# export to excel or maybe html format for easy reading
c1
c2_35
c2_1130
c2_1098

# 2002 - 2005 components

# 2014 - 2016 components

# Export Tables to Excel

In [9]:
# factor = pd.read_sql_query("SELECT * from Factor", db)

In [ ]:
# articlefactorlink = pd.read_sql_query("SELECT * from ArticleFactorLink", db)

In [28]:
# article = pd.read_sql_query("SELECT alink, anewspaper, adate, aday, agenre, atitle, aextra, acontent, aid, aauthor, aemail, aprose, parsedyear, parsedmonth, parsedday from Article", db)

In [ ]:
# alink, anewspaper, adate, aday, agenre, atitle, aextra, acontent, aid, aauthor, aemail, aprose, parsedyear, parsedmonth, parsedday

In [ ]:
# shorter

# article = pd.read_sql_query("SELECT parsedyear from Article", db)

In [15]:
# factor.to_excel("../data/1 pandas excel/factor.xlsx",index=False,encoding="utf-8")

In [ ]:
# articlefactorlink.to_excel("../data/1 pandas excel/articlefactorlink.xlsx",index=False,encoding="utf-8")

In [17]:
# article.to_excel("../data/1 pandas excel/article.xlsx",index=False,encoding="utf-8")